.container {
  max-width: 80rem;
  padding-inline: 2rem;
  margin-inline: auto;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.aline-center {
  align-items: center;
}
